<!DOCTYPE html>
<html>
    <head>
        <title>Musical Metadata: Formats</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <div id="Navigation">
        <p><a href="/" rel="AllMetada">Metadata Home</a> | <a href="/artists/" rel="AllArtists">All Artists</a> | <a href="/albums/" rel="AllAlbums">All Albums</a> | <a href="/tracks/" rel="AllTracks">All Tracks</a> | <a href="/genres/" rel="AllGenres">All Genres</a> | All Format</p>
        </div>

        <h1>Formats</h1>
            <% if (items.length > 0) { %>
                <ul id="Formats">
                    <% items.forEach(function(item) { %>
                        <li itemscope itemtype="http://schema.org/MusicRecording" class="SpecificFormat"><a itemprop="URL" rel="format" href="/formats/<%=item._id%>"><span itemprop="name"><%=item.trackFormat%></span></a></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <div>No formats have been added.</div>
            <% } %>

        <div id="Search">

           <h2>Search for formats</h2>


          <form method="get" id="SearchFormats" action="/formats/">
             Search for formats
             <input name="trackFormat">
             <input type="submit" value="Search" name="SubmitButton" />
            </form>
        </div>

    <div>
        <h2>Add a new format</h2>
        <form method="post" id="NewFormat" action="/formats/">
            <label>Format:
                <input name="item[trackFormat]" type="text" required />
            </label>
            <button>Add Format</button>
        </form>
    </div>

    </body>
</html>