<!DOCTYPE html>
<html>
  <head>
    <title>BrandCramp: Home</title>
  </head>

  <body>
    <a href="/"><h1>All the Musics</h1></a>

<!-- do we want to actually include these lists on the page like in Page's original (https://github.com/dotlikeimpact/BrandCramp/blob/master/index.html)? -->
    <div>
      <a href="/artists/"><h2>List of Recording Artists</h2></a>
        <% if (items.length > 0) { %>
            <ul>
            <% items.forEach(function(item) { %>
                <li><a href="/artists/<%=item._id%>"><%=item.name%></a></li>
            <% }); %>
            </ul>
        <% } else { %>
            <div>No artists found.</div>
        <% } %>
    </div>
    <div>
      <a href="/albums/"><h2>List of Albums</h2></a>
    </div>

 <div id="Search">
    <form id="SearchArtist" action="/artists/" method="get">
    Search Artists By Genre: 
    <select>
  		<option value="Disco">Disco</option>
  		<option value="Pop">Pop</option>
  		<option value="Scandinavian">Scandinavian</option>
  		<option value="Comedy">Comedy</option>
  		<option value="Polka">Polka</option>
  		<option value="Metal">Metal</option>
  		<option value="Jazz">Jazz</option>
  		<option value="Tropicalia">Tropicalia</option>
  		<option value="Lounge">Lounge</option>
  		<option value="Avant-garde">Avant-garde</option>
  		<option value="Experimental">Experimental</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

    <form id="SearchAlbum" action="/albums/" method="get">
    Search Albums By Genre: 
	<select>
  		<option value="Disco">Disco</option>
  		<option value="Pop">Pop</option>
  		<option value="Scandinavian">Scandinavian</option>
  		<option value="Comedy">Comedy</option>
  		<option value="Polka">Polka</option>
  		<option value="Metal">Metal</option>
  		<option value="Jazz">Jazz</option>
  		<option value="Tropicalia">Tropicalia</option>
  		<option value="Lounge">Lounge</option>
  		<option value="Avant-garde">Avant-garde</option>
  		<option value="Experimental">Experimental</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

    <form id="SearchSongGenre" action="/songs/" method="get">
    Search Songs By Genre: 
	<select>
  		<option value="Disco">Disco</option>
  		<option value="Pop">Pop</option>
  		<option value="Scandinavian">Scandinavian</option>
  		<option value="Comedy">Comedy</option>
  		<option value="Polka">Polka</option>
  		<option value="Metal">Metal</option>
  		<option value="Jazz">Jazz</option>
  		<option value="Tropicalia">Tropicalia</option>
  		<option value="Lounge">Lounge</option>
  		<option value="Avant-garde">Avant-garde</option>
  		<option value="Experimental">Experimental</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

    <form id="SearchSongKey" action="/songs/" method="get">
    Search Songs By Key (Enharmonic Equivalents Not Listed): 
	<select>
        <option value="A">A Maj.</option>
        <option value="a">a min.</option>
      	<option value="G#">A&#9837; Maj.</option>
        <option value="B">B Maj.</option>
        <option value="b">b min.</option>
        <option value="A#">B&#9837; Maj.</option>
        <option value="a#">b&#9837; min.</option>
  		<option value="C">C Maj.</option>
        <option value="c">c min.</option>
        <option value="c#">c# min.</option>
  		<option value="D">D Maj.</option>
        <option value="C#">D&#9837; Maj.</option>
        <option value="d">d min.</option>
        <option value="d#">d# min.</option>
      	<option value="D#">E&#9837; Maj.</option>
  		<option value="E">E Maj.</option>
        <option value="e">e min.</option>
  		<option value="F">F Maj.</option>
        <option value="f">f min.</option>
        <option value="F#">F# Maj.</option>
        <option value="f#">f# min.</option>
        <option value="G">G Maj.</option>
        <option value="g">g min.</option>
        <option value="g#">g# min.</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

    <form id="SearchSongTempo" action="/songs/" method="get">
    Search Songs By Tempo: 
	<input type="text" name="TempoBox" />
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>
    
    </div>

  </body>

</html>
