<!DOCTYPE html>
<html>
  <head>
    <title>BrandCamp: Home</title>
  </head>

  <body>
    <a href="/"><h1>All the Musics</h1></a>

<!-- do we want to actually include these lists on the page like in Page's original (https://github.com/dotlikeimpact/BrandCramp/blob/master/index.html)? -->
    <div>
      <a href="/artists/"><h2>List of Recording Artists</h2></a>
    <div>
    <div>
      <a href="/artists/album_title/"><h2>List of Albums</h2></a>
    <div>

 <div id="Search">
<!--should the action just be /artists/? (based on candidates example at https://github.com/sils-webinfo/election/blob/master/views/list-candidates.ejs)
i'm thinking the search view will be the same as the list view, just filtered?-->
    <form id="SearchArtist" action="./Artist?g={form data}" method="get">
    Search Artists By Genre: 
    <select>
  		<option value="Disco">Disco</option>
  		<option value="Pop">Pop</option>
  		<option value="Scandinavian">Scandinavian</option>
  		<option value="Comedy">Comedy</option>
  		<option value="Polka">Polka</option>
  		<option value="Metal">Metal</option>
  		<option value="Jazz">Jazz</option>
  		<option value="Tropicalia">Tropicalia</option>
  		<option value="Lounge">Lounge</option>
  		<option value="Avant-garde">Avant-garde</option>
  		<option value="Experimental">Experimental</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

<!-- same here? -->
    <form id="SearchAlbum" action="./Album?g={form data}" method="get">
    Search Albums By Genre: 
	<select>
  		<option value="Disco">Disco</option>
  		<option value="Pop">Pop</option>
  		<option value="Scandinavian">Scandinavian</option>
  		<option value="Comedy">Comedy</option>
  		<option value="Polka">Polka</option>
  		<option value="Metal">Metal</option>
  		<option value="Jazz">Jazz</option>
  		<option value="Tropicalia">Tropicalia</option>
  		<option value="Lounge">Lounge</option>
  		<option value="Avant-garde">Avant-garde</option>
  		<option value="Experimental">Experimental</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

<!-- and here? -->
<!-- does this mean we need a songs list view? -->
    <form id="SearchSongGenre" action="./Songs?g={form data}" method="get">
    Search Songs By Genre: 
	<select>
  		<option value="Disco">Disco</option>
  		<option value="Pop">Pop</option>
  		<option value="Scandinavian">Scandinavian</option>
  		<option value="Comedy">Comedy</option>
  		<option value="Polka">Polka</option>
  		<option value="Metal">Metal</option>
  		<option value="Jazz">Jazz</option>
  		<option value="Tropicalia">Tropicalia</option>
  		<option value="Lounge">Lounge</option>
  		<option value="Avant-garde">Avant-garde</option>
  		<option value="Experimental">Experimental</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

<!-- songs list view? -->
    <form id="SearchSongKey" action="./Songs?k={form data}" method="get">
    Search Songs By Key (Enharmonic Equivalents Not Listed  - These are the Major Keys from the Circle of Fifths): 
	<select>
  		<option value="C">C</option>
  		<option value="G">G</option>
  		<option value="D">C</option>
  		<option value="A">A</option>
  		<option value="E">E</option>
  		<option value="B">B</option>
  		<option value="F#">F#</option>
  		<option value="DFlat">D Flat</option>
  		<option value="AFlat">A Flat</option>
  		<option value="EFlat">EFlat</option>
  		<option value="BFlat">BFlat</option>
  		<option value="F">F</option>
	</select>
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>

<!-- songs list view? -->
    <form id="SearchSongTempo" action="./Songs?t={form data}" method="get">
    Search Songs By Tempo: 
	<input type="text" name="TempoBox" />
	<input type="submit" value="Submit" name="SubmitButton" />
    </form>
    
    </div>

  </body>

</html>
