<!DOCTYPE html>
<html>
  <head>
    <title>BrandCamp: Home</title>
  </head>
  <body>
    <a href="/"><h1>All the Musics</h1></a>
    <div>
      <a href="/artists/"><h2>List of Recording Artists</h2></a>
    <div>
    <div>
      <a href="/artists/album_title/"><h2>List of Albums</h2></a>
    <div>
  </body>
</html>
