<!-- we need to update this with properties / values for the tags. should probably use whatever is used here (Artist?g=Tropicalia.html), but that file isn't working on github... -->
<!DOCTYPE html>
<html>
  <head>
    <title>BrandCramp: Artists</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
 <a href="/"><h1>All the Musics</h1></a>

    <div>
      <a href="/artists/"><h2>All Recording Artists</h2></a>
        
    <div>
        <a href="/albums/"><h2>All Albums</h2></a>
            
    </div>

    <a href="/"><h1>Artists</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li itemscope itemtype="http://schema.org/MusicGroup"><a itemprop="URL" href="/artists/<%=item._id%>"><span itemprop="name"><%=item.name%></span></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No artists found.</div>
    <% } %>
    <div class="control">
      <h2>Search for artists by name</h2>
      <form method="get" id="SearchArtist" action="/artists/">
        <label>Artist name: <input name="name"></label>
        <button>Search</button>
      </form>
    </div>
    <div>
        <h2>Add a new artist</h2>
        <form method="post" id="AddArtist" action="/artists/">
            <label>Artist name:
                <input name="item[name]" type="text" required
                    />
            </label>
            <button>Add</button>
        </form>
    </div>
  </body>
</html>
