<!DOCTYPE html>
<html>
    <head>
        <title>BrandCramp: Songs</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div id="Navigation">
            <p><a href="/" rel="allMusic">All the Musics</a> | <a href="/artists/" rel="allArtists">All Recording Artists</a> | <a href="/albums/" rel="allAlbums">All Albums</a> | All Songs</p>
        </div>

        <div id="content">
        <h1>Songs</h1>
            <% if (items.length > 0) { %>
                <ul id="Songs">
                    <% items.forEach(function(item) { %>
                        <li class="Song" itemscope itemtype="http://schema.org/MusicRecording"><a itemprop="URL" rel="song" href="/songs/<%=item._id%>"><span itemprop="name"><%=item.name%></span></a> <a itemprop="byArtist" rel="artist" href="/artists/<%=item.byArtist%>" itemscope itemtype="http://schema.org/MusicGroup">(<span itemprop="name"><%=item.artistName%></span>)</a></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <div>No songs found.</div>
            <% } %>
        </div>

        <div id="Search">
        <h2>Search songs:</h2>
    <form method="get" id="SearchSongName" action="/songs/">
        By Name: 
        <input name="name">
        <input type="submit" value="Search" name="SubmitButton" />
      </form>

    <form id="SearchSongGenre" action="/songs/" method="get">
    By Genre: 
    <select name="genres">
  		<option value="Disco">Disco</option>
  		<option value="Pop">Pop</option>
  		<option value="Scandinavian">Scandinavian</option>
  		<option value="Comedy">Comedy</option>
  		<option value="Polka">Polka</option>
  		<option value="Metal">Metal</option>
  		<option value="Jazz">Jazz</option>
  		<option value="Tropicalia">Tropicalia</option>
  		<option value="Lounge">Lounge</option>
  		<option value="Avant-garde">Avant-garde</option>
  		<option value="Experimental">Experimental</option>
	</select>
	<input type="submit" value="Search" name="SubmitButton" />
    </form>

    <form id="SearchSongKey" action="/songs/" method="get">
    By Key (Enharmonic Equivalents Not Listed): 
	<select name="keys">
        <option value="A">A Maj.</option>
        <option value="a">a min.</option>
      	<option value="G#">A&#9837; Maj.</option>
        <option value="B">B Maj.</option>
        <option value="b">b min.</option>
        <option value="A#">B&#9837; Maj.</option>
        <option value="a#">b&#9837; min.</option>
  		<option value="C">C Maj.</option>
        <option value="c">c min.</option>
        <option value="c#">c# min.</option>
  		<option value="D">D Maj.</option>
        <option value="C#">D&#9837; Maj.</option>
        <option value="d">d min.</option>
        <option value="d#">d# min.</option>
      	<option value="D#">E&#9837; Maj.</option>
  		<option value="E">E Maj.</option>
        <option value="e">e min.</option>
  		<option value="F">F Maj.</option>
        <option value="f">f min.</option>
        <option value="F#">F# Maj.</option>
        <option value="f#">f# min.</option>
        <option value="G">G Maj.</option>
        <option value="g">g min.</option>
        <option value="g#">g# min.</option>
	</select>
	<input type="submit" value="Search" name="SubmitButton" />
    </form>

    <form id="SearchSongTempo" action="/songs/" method="get">
    By Tempo: 
	<select name="tempos">
        <option value="larghissimo">Larghissimo</option>
        <option value="grave">Grave</option>
        <option value="lento">Lento</option>
        <option value="larghetto">Larghetto</option>
        <option value="adagio">Adagio</option>
        <option value="andante">Andante</option>
        <option value="moderato">Moderato</option>
        <option value="allegretto">Allegretto</option>
        <option value="allegro">Allegro</option>
        <option value="presto">Presto</option>
    	<option value="prestissimo">Prestissimo</option>
    </select>
	<input type="submit" value="Search" name="SubmitButton" />
    </form>
        </div>
    </body>
</html>