<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BrandCramp: Playlists</title>
  </head>
  <body>
  <h1>All Playlists:</h1>

    <% if (items.length > 0) { %>
    <ul id="playlists">
      <% items.forEach(function(item) { %>
      <li class="SpecificPlaylist">
        <a href="/Playlists/<%=item._id%>" rel="playlist"><%=item.name%></a>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No playlists have been created.</div>
    <% } %>

    <form id="NewPlaylist" action="/Playlists/" method="post">
<!-- let's change the name to "item[name]" ? -->
    Playlist Name: <input type="text" name="item[Playlist_ID]" />
    <input type="submit" value="Create Me A New Playlist" name="SubmitButton" />
    </form>
  </body>
</html>