<style type="text/css">
body
{
background-color:#fafafa;
margin:25%;
}
h1
{
color:#605647;
text-align:left;
font-size: 25px;
}
h2
{
color:#605647;
text-align:left;
font-size: 22px;
}
a
{
font-family:"Times New Roman";
font-size:20px;
color:#5E6F97;
}
p
{
font-family:"Times New Roman";
font-size:20px;
color:#304962;
}
ul
{
list-style-type: none;
}
form
{
background: -webkit-gradient(linear, bottom, left 175px, from(#cccccc), to(#eeeeee));
background: -moz-linear-gradient(bottom, #cccccc, #eeeeee 175px);
margin:auto;
position:relative;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #605647;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
</style>