body
{
background-color:#fafafa;
margin:2% 5%;
}
h1
{
color:#605647;
text-align:left;
font-size: 2em;
}
h2
{
color:#605647;
text-align:left;
font-size: 1.5em;
}
h3 {
    color:#605647;  
    font-size: 1.2em;
}
a
{
font-family:"Times New Roman";
color:#5E6F97;
}
p
{
font-family:"Times New Roman";
font-size:1.2em;;
color:#304962;
}
ul
{
list-style-type: none;
}
li a {
    font-size: 1.2em;
}
form
{
background: -webkit-gradient(linear, bottom, left 175px, from(#cccccc), to(#eeeeee));
background: -moz-linear-gradient(bottom, #cccccc, #eeeeee 175px);
margin:auto;
position:relative;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #605647;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#Search form, #add form, .home form {
    text-align: right;    
}
#add label {
    display: block;
}
#content {
    width: 65%;
    float: left;
    margin-right: 5%;
}
#Search, #add {
    width: 30%;
    float: left;
}
#update {
    margin-top: 5%;
}
#update label {
    margin-right: 2%;
}
.home {
    width: 30%;
    float: left;
    margin-right: 4%;
    background-color: #eaeaea;
}
.home:last-child {
    margin-right: 0;    
}